.Nav {
  margin-left: auto; /* Push to the end in a flex container */
}

.Nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}

.Nav-link {
  color: #000;
}
