.Nav {
  background-color: blue;
  margin-left: auto; /* Push to the end in a flex container */
}

.Nav-list {
  list-style: none;
  display: flex;

  gap: 20px;
}

.Nav-link {
  text-decoration: none;
}
