.search-form {
  width: 100%;
  max-width: 400px;
}

.search-wrapper {
  display: flex;
}

/* .search-input {
}

.search-input:focus {
}

.search-icon {
} */

/* Remove the default search input clear button in Chrome */
/* .search-input::-webkit-search-cancel-button {
  display: none;
} */

/* Placeholder styling */
/* .search-input::placeholder {
} */
