.Headerr {
  display: flex;
  justify-content: start;
  background-color: #ffffff;
  padding: 1.6rem 0;
}

.Logo-container {
  background-color: blueviolet;
  margin-right: 5rem;
}

/* .Search-container {
  margin-right: 5rem;
} */
